.colleges button {
    transition: .2s ease-in;
}

.colleges button:hover {
    background-color: #3f866b;
}

form {
    margin-left: 200px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:30px;
}

form div {
    background-color: white;
    border-radius: 15px;
    padding:20px;
}

@media only screen and (max-width: 800px){
    form {
        margin:50px 0 0 0;
        padding: 30px;
    }
    
}

@media only screen and (max-width: 550px){
    
    form {
        grid-template-columns: 1fr;
        padding:1em;
        gap:0.5em;
    }

}


/*COLLEGES*/
.colleges { 
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:50px;
}

.colleges h2{
    text-align: center;
    font-size:clamp(1.5rem, 2.5vw, 2.5rem);
}

.colleges-header {
    padding:0;
    margin-bottom:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.colleges-header img {
    width:5%; 
}

.form-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1100px;
    margin: 10px auto;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    border-radius: 0;
}

.form-content p{
    font-weight: 700;
}

.form-image {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-image img {
    width:50%;
}

.form-image button {
    padding:10px 15px;
    background-color: #44B78B;
    color:white;
}


.form-input {
    grid-column: span 9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.form-input h3 {
    grid-column: span 12;
    text-align: center;
    font-weight: 800;
    font-size:20px;
    color:var(--accentBlack);
}

.form-input-div {
    grid-column: span 6;
}

.input-name {
    grid-column: span 12;
}

.form-input-div input[type=text], 
.form-input-div input[type=date], 
.form-input-div select {
    width:100%;
    padding:10px 20px;
    margin-top:5px;
    border:1px solid var(--accentGreen);
    border-radius: 5px;
}

.form-submit {
    grid-column: span 12;
    display:flex;
    justify-content: center;
}

.form-submit button {
    padding:10px 15px;
    background-color: #44B78B;
    color: white;
    font-weight: 700;
    font-size:18px;
    align-self: center;
}

/*MEDIA CONTROL */

@media only screen and (max-width: 1200px){

    .colleges {
        padding :30px;
    }

    .colleges-header img {
        width:10%; 
    }

    .form-image img {
        width:60%;
    }

    .form-content {
       padding:0;
    }

    .form-image {
        padding:0px;
    }
}

@media only screen and (max-width: 900px){

    .colleges-header {
        flex-direction: column;
        gap:5px;
    }

    .colleges-header img {
        width:15%;
    }

    .form-image {
        grid-column: span 12;
        padding:20px;
    }
    
    .form-image img {
        width:40%;
    }

    .form-input {
        grid-column: span 12;
    }

    .form-input-div {
        grid-column: span 12;
    }
}



@media only screen and (max-width: 550px){

    .colleges {
        padding :25px;
    }

    .colleges-header img {
        width:20%;
    }

    .form-input {
        grid-column: span 12;
        width: 100%;
    }

    .form-input-div {
        padding:15px 0;
        width: 100%;
    }

}

@media only screen and (max-width: 390px){

    .colleges-header img {
        width:25%;
    }

}
