* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    display: flex;
    transition: transform 0.5s ease-out;
}

.slide img {
    width: 100%;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    border: none;
    background-color: var(--accentGreen);
    color: var(--accentWhite);
    border-radius: 0px;
    width: 2.5%;
    cursor: pointer;
    outline: none;
    transition: 0.6s ease;
}

.slider .prev {
    left: 0;
    transition: 0.6s ease;
}

.slider .next {
    right: 0;
    transition: 0.6s ease;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.dot.active {
    background-color: #555;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@media only screen and (max-width: 600px){
    .slider button{
        display: none;
    }
}